<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="backbone.TypeScript.DefinitelyTyped" version="1.7.2" targetFramework="net45" />
  <package id="backgrid.TypeScript.DefinitelyTyped" version="0.0.9" targetFramework="net45" />
  <package id="bootstrap.TypeScript.DefinitelyTyped" version="0.0.9" targetFramework="net45" />
  <package id="bootstrap.v3.datetimepicker.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net45" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="2.0.1" targetFramework="net45" />
  <package id="jqueryui.TypeScript.DefinitelyTyped" version="0.3.6" targetFramework="net45" />
  <package id="leaflet.TypeScript.DefinitelyTyped" version="0.2.3" targetFramework="net45" />
  <package id="moment.TypeScript.DefinitelyTyped" version="0.9.7" targetFramework="net45" />
  <package id="underscore.TypeScript.DefinitelyTyped" version="0.4.9" targetFramework="net45" />
</packages>